<!DOCTYPE html>
<html ng-app="urlShortener">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Angular Libraries -->
    <script src="javascript/angular.1.2.25.min.js"></script>
    <script src="javascript/angular-ui-router.min.js"></script>
    <script src="javascript/angular-resource.1.2.25.min.js"></script>
    <!-- REST API Libraries -->
    <script src="javascript/rest.js"></script>
    <!-- Router Libraries -->
    <script src="javascript/router.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="mainContainer">
      <div class="item" ui-view="getall"></div>
      <div class="item" ui-view="addlink"></div>
    </div>

  </body>
</html>
